body {
    background: rgb(105,154,204);
    background: linear-gradient(90deg, rgba(105,154,204,1) 0%, rgba(198,154,187,1) 100%);
    margin: 2em;
}

h1 {
    color: white;
    text-align: center;
}

hr {
    width: 20%;
    top: 20px; 
    border: none; 
    height: 5px; 
    background: white; 
    margin-bottom: 20px; 
}

input {
    margin: 1em;
    height: 2.2em;
    outline: none;
    font-size: 1.7em;
    padding-left: 0.4em;
}

label {
    color: white;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#passwordbutton {
    margin:0 auto;
    display:block;
    height: 3.2em;
    width: 3.2em;
    border-radius: 30em;
    border: none;
}
